<!doctype html>
<head>
	<title>Evil Corp Generator</title>
	<LINK href="{{ style_file }}" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Glegoo|Ropa+Sans|Norican|Germania+One|Alegreya:700|Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
</head>
{% include "bar.html" %}
<div id="logo-outer">
<table id="logo-outer">
	<tr>
		<td>
			<h1 class="f{{ font_type }}">{{ evil_name }}</h1>
			<span id="motto"><span class="quote">"</span>{{ evil_title }}<span class="quote">"</span></span>
		</td>
	</tr>
</table>
</div>